/* Do I NEED TO PUT CSS RESET HERE? */


 body {
	font-family: "arial", "helvetica neue", "helvetica", "sans-serif";
	font-size: 18px;
	background-color: #777;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: #ebebeb;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}

nav {
	background-color: #ebebeb;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

section {
	background-color: #ebebeb;
	float: left;
	width: 495px;
	margin-bottom: 20px;
	padding-top: 40px;
}

/* QUESTION! === is there a way that aside can automatically fill in the remainder of the width available? Rather than calculating the width?*/

#article {
	background-color: #777;
	width: 90%;
	margin: auto;

/*   QUESTION! === What does margin: auto do? Just centers to the container? This was a happy accident lol   */
	
	margin-top: 40px;
	margin-bottom:20px;
	padding-top: 20px;
	padding-bottom: 300px;


}

#headers {
	background-color: #ebebeb;
	width: 90%;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px 0px 20px 0px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 12px;
}

#paragraph {
	width: 90%;
	background-color: #ebebeb;
	margin-left: 20px;
	padding: 10px 0px 10px 0px;
}

aside {
	background-color: #ebebeb;
	float: right;
	width: 445px;
	height: 420px;
	padding-top: 43px;
	margin-bottom: 20px;
}


footer {
	background-color: #ebebeb;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}

/*.section {
	background-color: #ebebeb;
	width: 495px;
	height: 600px;
	float: left;
}


.article {
	background-color: #777;
	width: 475px;
	clear: both;
	float: left;
	margin-left: 10px;
	margin-top: 75px;
	padding-top: 20px;
	font-color: #ffffff;

}
*/
/*.headers {
	clear: both;
	background-color: #777;

}

.p {
	background-color: #777;

}*/



/*aside {
	float: left;
}

footer {
	background-color: #ebebeb;
	clear: both;*/
}